.footer {
  border-top: 1px solid;
  width: 60%;
  margin: 5rem auto 1rem auto;
  .copyright {
    opacity: 0.5;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
  }
}
