.step-item-enter {
  opacity: 0;
}
.step-item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.step-item-exit {
  opacity: 1;
}
.step-item-exit-active {
  opacity: 0;
  // transition: opacity 500ms ease-in;
}
